@font-face {
    font-family: tesla;
    src: url(/tesla-font/TESLA.ttf);
}

:root {
    --primary: #000000;
    --primary-hover: #0411a5;                
    --text: #383740;
    --text-lighter: #71707d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

h1 {
    color: var(--text);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--primary);
    color: #e3d5d5;
    padding: 10px;
    overflow: hidden;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
header nav ul .back{
    font-family: tesla;
    font-size: 18px;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    /* overflow: hidden; */
    position: sticky;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fffefe;
    font-weight: bold;
    text-decoration: none;
}
nav a img{
    width: 120px;
    height: auto;
}

.background {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-blend-mode: multiply;
    background-image: url('/media/tesla-bg.jpg');
    background-color: #00000094;
    background-position: center;
    background-size: cover;
}

.socials-row {
    display: flex;
    gap: 16px;
    margin: 16px 0px ;
}

.socials-row img {
    width: 24px;
    height: 24px;
}

.socials-row > a {
    background-color: var(--secondary);
    border-radius: 5px;
    width: 100%;
    min-height: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text);
    border: 1px solid var(--text-lighter);
    font-weight: 700;
}

.socials-row > a:hover {
    background-color: var(--secondary-hover);
    border: 1px solid var(--primary);
}

.divider {
    display: flex;
    flex-direction: row;
    color: var(--text-lighter);
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 1px;
    background-color: var(--text-lighter);
    opacity: .2;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.my-form, .my-form-login {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 6px;
    background-color: rgb(253, 234, 234);
    border-radius: 8px;
    box-shadow: 0 20px 60px var(--aura);
    min-width: 280px;
    max-width: 400px;
    width: 100%;
    top: -35px;
    padding: 25px;
}

.signup-welcome, .signin-welcome {
    height: 100px;
    width: 90px;
    object-fit: cover;
}

.signup-welcome-row, .signin-welcome-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
}

.my-form__button {
    background-color: var(--primary);
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.text-field input {
    color: var(--text-lighter);
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--text-lighter);
    height: 35px;
    color: var(--text);
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 8px;
}

.text-field input:focus {
    border: 1px solid var(--primary);
}

.my-form__button:hover {
    background-color: var(--text);
}

.text-field {
    position: relative;
}

.text-field input::-webkit-input-placeholder {
    color: var(--text-lighter);
}

.text-field label {
    color: var(--text);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

.text-field label:has(+ input:focus) {
    color: var(--primary);
}

.input-icon {
    position: absolute;
    bottom: 0;
    top: 55%;
    right: 15px;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    margin-top: 8px;
}

.my-form__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.my-form__actions a {
    color: var(--secondary);
    font-weight: 600;
}

.my-form__actions a:hover {
    text-decoration: underline;          
}

.my-form__row {
    display: flex;
    justify-content: space-between;
}

.my-form__signin {
    display: flex;
    justify-content: center;
}

.my-form__signin a {
    color: var(--primary);
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
}

.my-form__signin a:hover {
    text-decoration: underline;
}
.msg {
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    background-color: rgba(3, 2, 84, 0.94);
    color: white;
    font-size: 20px;
}
footer {
    position: absolute;
    background-position: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100vw;
}
